<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Amir Mustafa</a>
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#main-navbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#hero">Home</a></li>
        <li><a href="#profile">Profile</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#experiences">Experience</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#abilities">Abilities</a></li>
        <li><a href="#videos">Videos</a></li>
        <li><a href="#blogs">Blogs</a></li>
        <li><a href="#awards">Awards</a></li>
        <li><a href="#recommendations">Recommendations</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
