<section id="profile" class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <img
        src="view/images/profile/profile.jpg"
        alt="Amir Mustafa"
        class="img-responsive img-circle"
      />
    </div>
    <div class="col-md-8">
      <h2>About Me</h2>
      <p>
        Hi, I'm Amir Mustafa, a passionate developer with experience in building
        scalable web applications and leading teams. I love solving complex
        problems and sharing knowledge with the community.
      </p>
    </div>
  </div>
</section>
